/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lora");

@font-face {
  font-family: "nimbus_monoregular";
  src: url("nimbusmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus_monobold";
  src: url("nimbusmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nimbus-mono-bold {
  font-family: "nimbus_monobold", "Lato", sans-serif !important;
}

.nimbus-mono-reg {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.deletedData {
  color: lightgray !important;
}

#message {
  position: fixed;
  top: 40px;
  height: 50px;
  z-index: 10;
  text-align: center;
  width: 100%;
  margin: 0;
}

#noscript-message {
  text-align: center;
  vertical-align: center;
  height: 100vh;
  top: 45%;
  position: relative;
}

/*---------------------------------*/

#authform-page-container {
  display: flex;
  position: relative;
  top: 40px;
}

#authform-container {
  margin: 30px auto !important;
}

#authform {
  width: 300px !important;
  text-align: center;
  margin: 0 auto;
}

#authform-local p {
  white-space: pre-line;
}

#auth-modal {
  background: rgba(0, 0, 0, 0);
  box-shadow: none !important;
}

.authform-btn-oauth {
  margin: 10px 0 !important;
}
/*---------------------------------*/

#page-container {
  display: flex;
  width: 100%;
  margin: 0 0 50px 0;
  position: relative;
}

#page-content {
  padding: 30px 3%;
  flex: 4;
  width: calc(100% - 200px);
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 200px;
}

.analytics-featured {
  margin-bottom: 20px;
}

.ui.statistics {
  display: flex !important;
  justify-content: center !important;
}

.ui.statistic .value {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
}

.ui.statistic .label {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
}

/*---------------------------------*/
/* STYLES FOR TOP AND SIDE NAVBARS ----------------------------*/
#navbar-title {
  font-family: "nimbus_monoregular", "Lato", sans-serif;
  font-size: 1.6em;
  padding: 0.4em;
}

#navbar-top {
  margin-bottom: 0;
  top: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#navbar-user-mobile {
  padding-right: 0px;
}

#navbar-user-mobile > .triangle {
  position: relative !important;
  right: 1px;
  top: 8px !important;
}

#nav-sidebar {
  flex: 1;
  width: 200px;
  height: calc(100% - 40px);
  position: fixed;
  top: 40px;
}

#nav-sidebar-mobile {
  top: 40px;
  height: calc(100% - 40px) !important;
  position: fixed !important;
  z-index: 10;
  margin: 0 !important;
}

.navbar-side-item {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  font-size: 1.2em;
}

/* used to make icons sit left on sidebar */
.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

#add-form {
  width: 350px;
}

/*---------------------------------*/

/* STYLES FOR ARTICLE LIST -----------------------------------*/
.article-list-container {
  width: 80%;
  margin: 0 auto;
}

.article-list {
  padding: 0 !important;
}

.article-list-item {
  padding: 15px 15px 3px 15px !important;
}

.list-item-title {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  font-size: 1.1em;
  color: black;
}

.list-item-extra {
  margin: 4px 0 0 0;
  height: 25px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.list-item-pubname {
  flex: 3;
  padding-top: 5px;
  padding-left: 25px;
  font-size: 0.9em;
}

.list-icon-container {
  flex: 1;
  text-align: right;
}

.icon-active {
  color: rgb(119, 119, 119) !important;
}

.icon-disabled {
  color: rgb(209, 209, 209) !important;
}

#no-articles-message {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  margin: 1em;
  font-size: 1.5em;
}

/* END STYLES FOR ARTICLE LIST --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR ARTICLE CARDS -----------------------------------*/
.card-extra {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px !important;
  height: 40px;
}

.card-icon-container {
  height: 25px;
  flex: 1;
  text-align: right;
}

.card-pubName {
  height: 30px;
  flex: 3;
}

.article-card {
  flex-grow: 1;
}

.article-card-image {
  height: 200px;
  background-position: center !important;
  background-size: cover !important;
}

#icon-default-image {
  background-image: url("/splash-icon-800.png");
  height: 80%;
  width: auto;
  margin: 5% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}


/* END STYLES FOR ARTICLE CARDS --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR SINGLE ARTICLE VIEW ----------------------------*/

#single-article {
  width: 60%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  top: 40px;
}

#single-article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#single-article p {
  line-height: inherit !important;
}

#single-article figcaption {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 2em;
}

#single-article blockquote {
  font-size: 0.9em;
  margin-bottom: 2em;
}

.article-author {
  font-style: italic;
}

.article-title {
  font-family: "nimbus_monobold", "Lato", sans-serif !important;
  font-size: 2.5em !important;
}

.article-content {
  text-align: justify;
  margin-bottom: 50px;
}

/* ARTICLE STYLE FORM */

/*---------------------------------*/

/* STYLES FOR ANALYTICS PAGE -----------------------------------*/

#analytics-container {
  max-width: 700px;
  height: 80%;
  margin: 0 auto;
}

.back-button {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 5px !important;
}

.back-button > .arrow {
  margin-right: 15px !important;
}

/* ARTICLE STYLE FORM */

#style-form {
  width: 160px;
}

.font-segment {
  display: flex;
  justify-content: space-between;
}

.font-name {
  width: 85%;
  text-align: center;
}

.font-check-icon {
  width: 15%;
}

.scheme-picker {
  padding: 5px 0 0 0 !important;
  text-align: center;
  width: 33% !important;
}

/* END STYLES FOR SINGLE ARTICLE VIEW ------------------------*/
/*-------------------------------------------------------------*/

/*---------------------------------*/

/* STYLES FOR ANALYTICS PAGE -----------------------------------*/

#analytics-container {
  max-width: 700px;
  margin: 0 auto;
}

#analytics-buttons {
  margin-bottom: 10px !important;
}

/* END STYLES FOR ANALYTICS PAGE -----------------------------------*/
/*---------------------------------*/
/* STYLES FOR LANDING PAGE -----------------------------------*/
#land-pg-container {
  width: 80%;
  margin: 0 auto;
}

#land-pg-top-bar {
  position: absolute;
  display: flex;
  left: 10%;
  justify-content: space-between;
  padding: 30px 10px 20px 10px;
  z-index: 10;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 20px 20px;
}

#land-pg-name {
  width: 100px;
  margin-left: 20px;
  font-size: 2.2em;
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  text-align: center;
}

#land-pg-login-btn {
  width: 100px;
  cursor: pointer;
  font-size: 1.1em;
  text-align: right;
  margin-right: 20px;
}

#land-pg-login-btn:hover {
  width: 100px;
  cursor: pointer;
  font-size: 1.1em;
  color: rgb(82, 82, 82);
}

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  background-image: url("/landing-page-1.jpg");
  background-size: cover;
}

#land-pg-logo {
  width: 35vw;
  height: 35vw;
  opacity: 0.8;
}

#carousel-overlay {
  position: absolute;
  top: 10vh;
  z-index: 1;
  text-align: center;
}

#carousel-text {
  font-size: 2.4em;
  font-family: "nimbus_monobold", "Lato", sans-serif !important;
  text-align: center;
  color: white;
  line-height: 1em;
  width: 100%;
  margin-top: 1.5em;
  text-shadow: -1px -1px 0 rgb(82, 82, 82), 1px -1px 0 rgb(82, 82, 82),
    -1px 1px 0 rgb(82, 82, 82), 1px 1px 0 rgb(82, 82, 82);
}

#carousel-btn {
  opacity: 0.9;
  margin-top: 5vh;
}

/* END STYLES FOR LANDING PAGE -----------------------------------*/
/*---------------------------------*/

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*--MEDIA QUERIES--------------------------------*/

/*----PHONE/MOBILE-----------------------------------------------*/

@media screen and (max-width: 768px) {
  #single-article {
    width: 85%;
  }

  #land-pg-top-bar {
    width: 90%;
    left: 5%;
  }

  #land-pg-logo {
    width: 60vw;
    height: 60vw;
  }

  #carousel .carousel-image {
    position: relative;
  }

  #carousel-overlay {
    top: 15vh;
    left: 0;
}

/*----TABLET AND MOBILE-----------------------------------*/
@media screen and (max-width: 1024px) {
  #page-content {
    width: 100% !important;
    left: 0px;
  }

  .article-list-container {
    width: 90%;
    margin-bottom: 100px !important;
  }

  #land-pg-container {
    width: 100%;
  }
}

/*----TABLET-----------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #single-article {
    width: 75%;
  }

  #land-pg-logo {
    width: 60vw;
    height: 60vw;
  }
}

/*----LARGE SCREENS--------------------------------------*/
@media screen and (min-width: 1400px) {
  .article-list-container {
    width: 60%;
  }

  #land-pg-container {
    width: 60%;
  }

  #land-pg-logo {
    width: 35vw;
    height: 35vw;
  }
}

.test {
  color: rgb(238, 232, 224);
}
