body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.no-margin {
  margin: 0 !important;
}

.authform-container {
  width: 300px;
  text-align: center;
  margin: 0 auto !important;
}

.authform-btn-oauth {
  margin: 10px 0 !important;
}

/* CLASSES FOR ARTICLE LIST -----------------------------------*/
.article-list-container {
  width: 60%;
  margin: 0 auto;
}

.article-list {
  padding-top: 0 !important;
}

.article-list-item {
  padding: 15px !important;
}
/* ENDCLASSES FOR ARTICLE LIST --------------------------------*/
/*-------------------------------------------------------------*/

/* CLASSES FOR SINGLE ARTICLE VIEW ----------------------------*/
.single-article {
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
}

.single-article img {
  max-width: 100%;
}

.single-article figcaption {
  font-size: 0.75em;
}

.article-author {
  font-style: italic;
}
/* END CLASSES FOR SINGLE ARTICLE VIEW ------------------------*/
/*-------------------------------------------------------------*/
