/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lora");

@font-face {
  font-family: "nimbus_monoregular";
  src: url("nimbusmono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nimbus_monobold";
  src: url("nimbusmono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nimbus-mono-bold {
  font-family: "nimbus_monobold", "Lato", sans-serif !important;
}

.nimbus-mono-reg {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

#message {
  position: fixed;
  top: 40px;
  height: 50px;
  z-index: 10;
  text-align: center;
  width: 100%;
  margin: 0;
}

#noscript-message {
  text-align: center;
  vertical-align: center;
  height: 100vh;
  top: 45%;
  position: relative;
}

/*---------------------------------*/

#authform-container {
  display: flex;
  position: relative;
  top: 40px;
}

#authform {
  width: 300px;
  text-align: center;
  margin: 30px auto !important;
}

.authform-btn-oauth {
  margin: 10px 0 !important;
}
/*---------------------------------*/

#page-container {
  display: flex;
  width: 100%;
  margin: 0 0 50px 0;
  position: relative;
}

#page-content {
  padding: 30px 3%;
  flex: 4;
  width: calc(100% - 200px);
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 200px;
}

.analytics-featured {
  margin-top: 30px;
}

/*---------------------------------*/
/* STYLES FOR TOP AND SIDE NAVBARS ----------------------------*/
#navbar-title {
  font-family: "nimbus_monoregular", "Lato", sans-serif;
  font-size: 1.6em;
  padding: 0.4em;
}

#navbar-top {
  margin-bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navbar-user-mobile {
  padding-right: 0px;
}

#navbar-user-mobile > .triangle {
  position: relative !important;
  right: 1px;
  top: 8px !important;
}

#nav-sidebar {
  flex: 1;
  width: 200px;
  height: calc(100% - 40px);
  position: fixed;
  top: 40px;
}

#nav-sidebar-mobile {
  top: 40px;
  height: calc(100% - 40px) !important;
  position: fixed !important;
  z-index: 10;
  margin: 0 !important;
}

.navbar-side-item {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  font-size: 1.2em;
}

/* used to make icons sit left on sidebar */
.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

#add-form {
  width: 350px;
}

/*---------------------------------*/

/* STYLES FOR ARTICLE LIST -----------------------------------*/
.article-list-container {
  width: 80%;
  margin: 0 auto;
}

.article-list {
  padding: 0 !important;
}

.article-list-item {
  padding: 15px 15px 3px 15px !important;
}

.list-item-title {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  font-size: 1.1em;
  color: black;
}

.list-item-extra {
  margin: 4px 0 0 0;
  height: 25px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.list-item-pubname {
  flex: 3;
  padding-top: 5px;
  padding-left: 25px;
  font-size: 0.9em;
}

.list-icon-container {
  flex: 1;
  text-align: right;
}

.icon-active {
  color: rgb(119, 119, 119) !important;
}

.icon-disabled {
  color: rgb(209, 209, 209) !important;
}

/* END STYLES FOR ARTICLE LIST --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR ARTICLE CARDS -----------------------------------*/
.card-extra {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px !important;
  height: 40px;
}

.card-icon-container {
  height: 25px;
  flex: 1;
  text-align: right;
}

.card-pubName {
  height: 30px;
  flex: 3;
}

.article-card {
  flex-grow: 1;
}

.article-card-image {
  height: 200px;
}
/* END STYLES FOR ARTICLE CARDS --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR SINGLE ARTICLE VIEW ----------------------------*/

#single-article {
  width: 60%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
  top: 40px;
}

#single-article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#single-article figcaption {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 2em;
}

#single-article blockquote {
  font-size: 0.9em;
  margin-bottom: 2em;
}

.article-author {
  font-style: italic;
}

.article-title {
  font-family: "nimbus_monobold", "Lato", sans-serif !important;
  font-size: 2.5em !important;
}

.article-content {
  text-align: justify;
  margin-bottom: 50px;
}

.back-button {
  font-family: "nimbus_monoregular", "Lato", sans-serif !important;
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 5px !important;
}

.back-button > .arrow {
  margin-right: 15px !important;
}

/* ARTICLE STYLE FORM */

#style-form {
  width: 160px;
}

.font-segment {
  display: flex;
  justify-content: space-between;
}

.font-name {
  width: 85%;
  text-align: center;
}

.font-check-icon {
  width: 15%;
}

.scheme-picker {
  padding: 5px 0 0 0 !important;
  text-align: center;
  width: 33% !important;
}

/* END STYLES FOR SINGLE ARTICLE VIEW ------------------------*/
/*-------------------------------------------------------------*/

/*---------------------------------*/

/* STYLES FOR ANALYTICS PAGE -----------------------------------*/

#analytics-container {
  max-width: 700px;
  margin: 0 auto;
}

#chart-container {
  height: 80%;
}

/* END STYLES FOR ANALYTICS PAGE -----------------------------------*/
/*---------------------------------*/

/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/
/*-------------------------------------------------------------*/

/*--MEDIA QUERIES--------------------------------*/

/*----PHONE/MOBILE-----------------------------------------------*/

@media screen and (max-width: 768px) {
  #single-article {
    width: 85%;
  }
}

/*----TABLET AND MOBILE-----------------------------------*/
@media screen and (max-width: 1024px) {
  #page-content {
    width: 100% !important;
    left: 0px;
  }

  .article-list-container {
    width: 90%;
  }
}

/*----TABLET-----------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #single-article {
    width: 75%;
  }
}

/*----LARGE SCREENS--------------------------------------*/
@media screen and (min-width: 1400px) {
  .article-list-container {
    width: 60%;
  }
}

.test {
  color: rgb(238, 232, 224);
}
