/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lora");
html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#app {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

/*---------------------------------*/

#authform-container {
  display: flex;
  position: relative;
  top: 40px;
}

#authform {
  width: 300px;
  text-align: center;
  margin: 30px auto !important;
}

.authform-btn-oauth {
  margin: 10px 0 !important;
}
/*---------------------------------*/

#page-container {
  display: flex;
  width: 100%;
  margin: 0;
  height: calc(100% - 40px) !important;
  position: relative;
}

#page-content {
  padding: 30px 3%;
  flex: 4;
  width: calc(100% - 200px);
  margin: 0 !important;
  position: absolute;
  top: 40px;
  left: 200px;
}

.analytics-featured {
  margin-top: 30px;
}

/*---------------------------------*/
/* STYLES FOR TOP AND SIDE NAVBARS ----------------------------*/
#navbar-top {
  margin-bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-sidebar {
  flex: 1;
  width: 200px;
  height: calc(100% - 40px);
  position: fixed;
  top: 40px;
}

#nav-sidebar-mobile {
  top: 40px;
  height: calc(100% - 40px) !important;
}

/* used to make icons sit left on sidebar */
.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.5em 0em 0em;
}

#add-form {
  width: 350px;
}

#mobile-pusher-container {
  height: 100%;
  overflow-y: scroll;
}

/*---------------------------------*/

/* STYLES FOR ARTICLE LIST -----------------------------------*/
.article-list-container {
  width: 80%;
  margin: 0 auto;
}

.article-list {
  padding: 0 !important;
}

.article-list-item {
  padding: 15px 15px 3px 15px !important;
}

.list-item-extra {
  margin: 4px 0 0 0;
  height: 25px;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.list-item-pubname {
  flex: 3;
  padding-top: 5px;
  padding-left: 25px;
  font-size: 0.9em;
}

.list-icon-container {
  flex: 1;
  text-align: right;
}

/* END STYLES FOR ARTICLE LIST --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR ARTICLE CARDS -----------------------------------*/
.card-extra {
  display: flex;
  justify-content: space-between;
}

.card-icon-container {
  height: 25px;
  flex: 1;
  text-align: right;
}

.card-pubName {
  height: 30px;
  flex: 3;
}

.article-card {
  flex-grow: 1;
}

.article-card-image {
  height: 200px;
}
/* END STYLES FOR ARTICLE CARDS --------------------------------*/
/*-------------------------------------------------------------*/

/* STYLES FOR SINGLE ARTICLE VIEW ----------------------------*/

#single-article {
  font-family: "Lora", serif;
  width: 60%;
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.1em;
  text-align: justify;
  position: relative;
  top: 40px;
}

#single-article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#single-article figcaption {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 2em;
}

#single-article blockquote {
  font-size: 0.9em;
  margin-bottom: 2em;
}

.article-author {
  font-style: italic;
}

/* END STYLES FOR SINGLE ARTICLE VIEW ------------------------*/
/*-------------------------------------------------------------*/

#style-form {
  width: 160px;
}

/*--MEDIA QUERIES--------------------------------*/

/*----PHONE/MOBILE-----------------------------------------------*/

@media screen and (max-width: 768px) {
  #single-article {
    width: 85%;
  }
}

/*----TABLET AND MOBILE-----------------------------------*/
@media screen and (max-width: 1024px) {
  #page-content {
    width: 100% !important;
    left: 0px;
  }

  .article-list-container {
    width: 90%;
  }
}

/*----TABLET-----------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #single-article {
    width: 75%;
  }
}

/*----LARGE SCREENS--------------------------------------*/
@media screen and (min-width: 1400px) {
  .article-list-container {
    width: 60%;
  }
}
